sftp-config.json
*.swp
*.pyc
.idea
*.iml
**/target/*
**/project/*
.DS_Store
.cache/
.coverage
.vscode
.coverage.*
pipeline.cfg
cov.xml
.pytest_cache
src/
*metastore_db*
prof/
derby.log
coverage.xml
test_results.xml


# Sphinx documentation
docs/_build/
